*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color:rgb(37, 49, 158);
}
 
.baño_logo{
  width: 25px; 
  filter: invert(100%);
} 
  
.pv {
  top: 235px;
  left: 300px;
  position: absolute;
  width: 480px;
  border-radius: 20px;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
}

body {
  text-align: center;
  background: linear-gradient(rgba(5,7, 12, 0.75), rgba(5,7, 12, 0.75)), url(../imagenes/fondoUNMSM.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*
input{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
}

#boton{
  background-color: rgb(0, 13, 87);
  color: white;
  padding: 20px;
}

#boton-salir{
  background-color: rgb(170, 0, 0);
  color: white;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

#boton-salir:hover {
  cursor: pointer;
}
*/






#blog .contenido {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
#blog article {
  margin: 15px;
}

#blog img {
  width: 100%;
  height: 75%;
  max-width: 280px;
  border-radius: 5px;
}
  
#blog h3, h4 {
  text-align: center;
  border-color: black;
  background-color: rgb(244, 255, 124);
  border-radius: 5px;
}

#imagen_fondo{
  background-image: url(imagenes/unmsm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  height: 100%;
  height: 100%;
  margin: 0;
  font-family: monospace;
}  

h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#bienvenido {
  width: 50vw; /*responsive px?*/
  margin: auto;
  background: rgba(202, 0, 0, 0.5);
  box-sizing: border-box; 
  margin-top: 50px;
  margin-block-end: 20px;
  border-radius: 10px;
}
  
#boton-regresar{
  background-color: rgb(170, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
  
#boton-regresar:hover {
  cursor: pointer;
}
  
#retorno {
  width: 120px;
  margin: auto;
  padding: 10px 10px;
  background: rgba(202, 0, 0, 0);
  box-sizing: border-box; 
  margin-top: 50px;
  margin-block-end: 20px;
  border-radius: 5px;
}
  
p {
  text-align: center;
}